/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #005aa8;
  --ifm-color-primary-dark: #005197;
  --ifm-color-primary-darker: #004c8f;
  --ifm-color-primary-darkest: #003f76;
  --ifm-color-primary-light: #0063b9;
  --ifm-color-primary-lighter: #0067c1;
  --ifm-color-primary-lightest: #0075da;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4bdeff;
  --ifm-color-primary-dark: #2ad8ff;
  --ifm-color-primary-darker: #1ad5ff;
  --ifm-color-primary-darkest: #00bde7;
  --ifm-color-primary-light: #6ce4ff;
  --ifm-color-primary-lighter: #7ce7ff;
  --ifm-color-primary-lightest: #aef0ff;
}

.footer {
  background-color: #242526;
}

.unique-tabs .tabs__item--active {
  background-color: var(--ifm-tabs-color-active);
  border: 0;
  border-radius: var(--ifm-global-radius);
  color: #fff;
}